<footer class="bg-primary">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-3 mx-0">
      <div class="col text-center my-1">
        <img
          src="./images/logo.png"
          alt="Keax logo"
          class="rounded-circle bg-white border-dark border border-2"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="col my-1">
        <div
          class="w-100 h-100 d-flex justify-content-center align-items-center flex-column"
        >
          <p class="text-center text-light my-3">
            <small>You can contact me through my social networks.</small>
          </p>

          <div
            class="w-100 d-flex justify-content-center align-items-center flex-wrap"
          >
            @for (socialNetwork of socialNetworkList; track socialNetwork.id) {
            <a
              [title]="socialNetwork.name | titlecase"
              [href]="socialNetwork.url"
              target="_blank"
              class="btn btn-light m-1 py-1 px-2"
              rel="noopener noreferrer"
            >
              <i
                [class]="socialNetwork.icon + ' fs-2'"
                [style.color]="socialNetwork.color"
              ></i>
            </a>
            }
          </div>
        </div>
      </div>

      <div class="col my-3">
        <nav
          class="w-100 h-100 d-flex justify-content-center align-items-center flex-wrap"
          aria-label="Footer"
        >
          <ul
            class="list-unstyled d-flex flex-wrap justify-content-center align-content-center gap-2 mb-0"
          >
            @for (nav of navItems; track $index) {
            <li>
              @if (nav.routerLink) {
              <a
                [href]="nav.routerLink"
                class="text-light text-decoration-none link-dark"
                >{{ nav.label }}</a
              >
              }@else {
              <a
                (click)="contactEmit()"
                href="javascript:void(0)"
                class="text-light text-decoration-none link-dark"
                >{{ nav.label }}</a
              >
              }
            </li>
            }
          </ul>
        </nav>
      </div>
    </div>

    <p class="text-center text-light pb-2">
      <small>
        Copyright &copy; {{ year }} Kevin Galarza. Todos los derechos
        reservados.
      </small>
    </p>
  </div>
</footer>
