<nav
  class="navbar navbar-dark bg-primary shadow-lg sticky-top"
  role="navigation"
>
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-start align-items-center">
      <a
        class="d-none d-md-flex align-items-center text-light link-dark text-decoration-none"
        href="#"
      >
        <i class="pi pi-desktop mx-2 fs-5"></i>
        {{ profile.name + " " + profile.last_name | titlecase }} |
        <small class="mx-1">{{
          profile | language : "title" : translate.getLang | titlecase
        }}</small>
        |
      </a>

      @for (lang of languages; track $index) {
      <a
        [ngClass]="{
          'text-dark fw-bolder': translate.getLang === lang.code.toLowerCase()
        }"
        [title]="lang.language"
        (click)="translate.setLang = lang.code.toLowerCase()"
        class="d-flex align-items-center text-light link-dark text-decoration-none mx-1"
        href="javascript:void(0)"
      >
        {{ lang.code }}
      </a>
      }
    </div>

    <button
      id="navbarBtn"
      class="navbar-toggler mx-2 d-flex justify-content-center align-items-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        @for (navItem of navItems; track $index) {
        <li class="nav-item text-center">
          @if (navItem.routerLink) {
          <a
            [href]="navItem.routerLink"
            (click)="closeNavbar()"
            class="nav-link text-light link-dark"
            >{{ navItem | language : "label" : translate.getLang }}</a
          >
          }@else {
          <a
            (click)="contactEmit()"
            class="nav-link text-light link-dark"
            href="javascript:void(0)"
            >{{ navItem | language : "label" : translate.getLang }}</a
          >
          }
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
