<section class="container pt-0 pt-md-5" id="education">
  <div class="row">
    <header class="col-md-3 col-12 position-relative">
      <h2
        class="text-center text-primary py-4 mt-0 mt-md-5 pt-md-5 lead display-5 sticky-top"
      >
        {{ title | language : "label" : translate.getLang }}
      </h2>
    </header>

    <div class="col-md-9 col-12 py-4 shadow-lg bg-white card">
      @for (education of educationList; track education.id) {
      <app-card-education
        [education]="education"
        [position]="$index % 2 !== 0"
      ></app-card-education>
      }@empty {
      <p class="text-center text-secondary">**There are no records**</p>
      }
    </div>
  </div>
</section>
