.btn-cv:hover {
  border-radius: 0%;
}

.btn-cv span {
  position: absolute;
  background: white;
  transition: 0.5s;
}

.btn-cv span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%;
}

.btn-cv span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}

.btn-cv span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;
}

.btn-cv span:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}

.btn-cv:hover span:nth-child(1) {
  left: 0;
}

.btn-cv:hover span:nth-child(2) {
  right: 0;
}

.btn-cv:hover span:nth-child(3) {
  bottom: 0;
}

.btn-cv:hover span:nth-child(4) {
  top: 0;
}
.img-fluid {
  max-width: 25vh;
}

.header-video-bg {
  object-fit: cover;
  object-position: bottom;
}

.machine-1,
.machine-2,
.machine-2-es {
  display: inline-block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 13ch;
  animation: typing 1s steps(15), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

.machine-2 {
  width: 28ch;
  animation: typing 2s steps(28), blink 0.5s infinite step-end alternate;
}

.machine-2-es {
  width: 36ch;
  animation: typing 2s steps(36), blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}
