<header>
  <nav class="navbar bg-primary navbar-dark fixed-top position-relative">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100 align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a routerLink="/home" class="text-light mx-3 fs-4 text-decoration-none">Home</a>
        </div>

        <button
          (click)="logOut()"
          class="btn btn-link text-light link-dark text-decoration-none p-0"
          type="button"
        >
          Log Out
        </button>
      </div>

      <div
        tabindex="-1"
        class="offcanvas offcanvas-start bg-primary"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <img
            class="logo bg-light border border-light rounded-circle"
            src="./images/logo.png"
            alt="Logo"
          />

          <button
            class="btn-close"
            type="button"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @for (menu of menuList; track $index) {
              <li class="nav-item">
                <a
                  [routerLink]="menu.routerLink"
                  routerLinkActive="fw-bold text-light"
                  class="nav-link fs-5"
                  data-bs-dismiss="offcanvas"
                >
                  <i [class]="menu.icon + ' mx-1'"></i>
                  {{ menu.label }}
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
