<app-header [profile]="profile"></app-header>
<app-navbar
  [lastName]="profile.last_name"
  [navItems]="navItems"
  [title]="profile.title"
  [name]="profile.name"
  (contact)="modalContact()"
></app-navbar>
<main>
  <app-education [educationList]="educationList"></app-education>
  <app-skill [skillList]="skillList"></app-skill>
  <app-technology [technologyList]="technologyList"></app-technology>
</main>
<app-footer
  [socialNetworkList]="socialNetworkList"
  [navItems]="navItems"
  (contact)="modalContact()"
></app-footer>
