<section aria-labelledby="portfolio-title" class="mb-5 pt-md-5" id="portfolio">
  <header>
    <h2
      id="portfolio-title"
      class="text-center text-primary py-4 mb-md-3 mb-0 pt-md-0 lead display-5"
    >
      {{ title | language: 'label' : translate.getLang }}
    </h2>
  </header>

  <div class="accordion w-100 shadow-lg card bg-white">
    @for (technology of technologyList(); track technology.id) {
      <details class="accordion-item" [open]="$first">
        <summary class="accordion-header p-3 pointer">
          <span class="text-secondary fw-semibold fs-5">{{ technology.name | titlecase }}</span>
        </summary>
        <div class="accordion-body">
          <app-project-carousel
            [projectList]="technology.projects"
            [technology]="technology.id!"
          ></app-project-carousel>
        </div>
      </details>
    } @empty {
      <p class="text-center text-secondary py-3">There are no records</p>
    }
  </div>
</section>
