<article class="container-fluid p-4 position-relative">
  <button
    (click)="close()"
    href="javascript:void(0)"
    class="btn btn-close position-absolute top-0 end-0 m-2"
  ></button>

  <header class="text-center mb-3">
    <h2 class="text-primary fw-bolder">
      {{ project | language : "title" : translate.getLang }}
    </h2>
  </header>

  <hr />
  <p>{{ project | language : "description" : translate.getLang }}</p>
  <hr />

  <figure class="d-flex justify-content-center align-items-center">
    <img
      [src]="project.picture"
      [alt]="project.title"
      (click)="showImage()"
      class="w-75 img-hover"
    />

    <figcaption class="visually-hidden">
      {{ project | language : "title" : translate.getLang }}
    </figcaption>
  </figure>

  <hr />

  <footer class="row">
    <div class="col-12 text-center">
      @if (project.deploy) {
      <a [href]="project.deploy" target="_blank" class="btn btn-secondary m-1">
        <i class="pi pi-external-link"></i>
      </a>
      }

      @if (project.github) {
      <a [href]="project.github" target="_blank" class="btn btn-dark m-1">
        <i class="pi pi-github"></i>
      </a>
      }
    </div>
  </footer>
</article>
