<form (ngSubmit)="onSubmit()" [formGroup]="contactForm" aria-labelledby="contact-title" class="m-3">
  <header>
    <h2 id="contact-title" class="h4 text-primary">
      {{ labels.title | language: 'label' : translate.getLang }}
    </h2>
  </header>

  <hr />

  <div class="container-fluid">
    <div class="col my-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ labels.name | language: 'label' : translate.getLang }}</mat-label>
        <input
          [attr.aria-describedby]="
            controls['name'].touched && controls['name'].invalid ? 'name-error' : null
          "
          [attr.aria-invalid]="controls['name'].touched && controls['name'].invalid"
          [maxLength]="100"
          [minlength]="2"
          formControlName="name"
          id="name"
          appUppercase
          matInput
          required
        />
        @if (controls['name'].touched && controls['name'].invalid) {
          <mat-error id="name-error">{{
            labels.name | language: 'required' : translate.getLang
          }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col my-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ labels.email | language: 'label' : translate.getLang }}</mat-label>
        <input
          [attr.aria-describedby]="
            controls['email'].touched && controls['email'].invalid ? 'email-error' : null
          "
          [attr.aria-invalid]="controls['email'].touched && controls['email'].invalid"
          [maxLength]="254"
          formControlName="email"
          id="email"
          type="email"
          appLowerCase
          matInput
          required
        />
        @if (controls['email'].touched && controls['email'].invalid) {
          <mat-error id="email-error">{{
            labels.email | language: 'required' : translate.getLang
          }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col my-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ labels.message | language: 'label' : translate.getLang }}</mat-label>
        <textarea
          [attr.aria-describedby]="
            controls['message'].touched && controls['message'].invalid ? 'message-error' : null
          "
          [attr.aria-invalid]="controls['message'].touched && controls['message'].invalid"
          [maxLength]="500"
          [minlength]="5"
          formControlName="message"
          id="message"
          appUppercase
          matInput
          required
          rows="5"
        ></textarea>
        @if (controls['message'].touched && controls['message'].invalid) {
          <mat-error id="message-error">{{
            labels.message | language: 'required' : translate.getLang
          }}</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button
      [disabled]="isSaving()"
      [icon]="isSaving() ? 'pi pi-spin pi-spinner' : 'pi pi-send'"
      [text]="isSaving() ? 'Saving...' : 'Send'"
    ></app-button>
  </footer>
</form>
