<form (ngSubmit)="onSubmit()" [formGroup]="educationForm" class="m-3">
  <header>
    <h4 class="text-primary">{{ title }}</h4>
  </header>

  <hr />

  <div class="row g-3">
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Title (English)</mat-label>
        <input formControlName="title" id="title" appUppercase matInput />
        @if (controls['title'].touched && controls['title'].invalid) {
          <mat-error>The title is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Title (Spanish)</mat-label>
        <input formControlName="title_es" id="title_es" appUppercase matInput />
        @if (controls['title_es'].touched && controls['title_es'].invalid) {
          <mat-error>The Spanish title is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Institution</mat-label>
        <mat-select formControlName="institution" id="institution">
          <mat-option [value]="0" disabled>Select an institution</mat-option>
          @for (institution of institutionList(); track institution.id) {
            <mat-option [value]="institution.id">{{ institution.name }}</mat-option>
          }
        </mat-select>
        @if (controls['institution'].touched && controls['institution'].invalid) {
          <mat-error>The institution is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Place (English)</mat-label>
        <input formControlName="place" id="place" appUppercase matInput />
        @if (controls['place'].touched && controls['place'].invalid) {
          <mat-error>The place is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Start (English)</mat-label>
        <input formControlName="start" id="start" appUppercase matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Start (Spanish)</mat-label>
        <input formControlName="start_es" id="start_es" appUppercase matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>End (English)</mat-label>
        <input formControlName="end" id="end" appUppercase matInput />
        @if (controls['end'].touched && controls['end'].invalid) {
          <mat-error>The end is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>End (Spanish)</mat-label>
        <input formControlName="end_es" id="end_es" appUppercase matInput />
        @if (controls['end_es'].touched && controls['end_es'].invalid) {
          <mat-error>The Spanish end is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Position</mat-label>
        <mat-select formControlName="position" id="position">
          <mat-option [value]="0" disabled>Select a position</mat-option>
          @for (position of positionList; track position) {
            <mat-option [value]="position">{{ position }}</mat-option>
          }
        </mat-select>
        @if (controls['position'].touched && controls['position'].invalid) {
          <mat-error>The position is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button
      [disabled]="isSaving()"
      [icon]="isSaving() ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
      [text]="isSaving() ? 'Saving...' : 'Save'"
    ></app-button>
  </footer>
</form>
