<section class="container-fluid p-4">
  <header>
    <h1 class="text-center text-primary">{{ title() }}</h1>
  </header>

  <hr />

  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm" class="m-0">
    @if (update()) {
      <div class="w-100 d-flex justify-content-center align-items-center">
        <img [src]="urlPicture()" alt="Current profile picture" />
      </div>
      <hr />
    }

    <div class="row g-3">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input formControlName="name" id="name" appUppercase matInput />
          @if (controls['name'].touched && controls['name'].errors?.['required']) {
            <mat-error>The name is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input formControlName="last_name" id="last_name" appUppercase matInput />
          @if (controls['last_name'].touched && controls['last_name'].errors?.['required']) {
            <mat-error>The last name is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title (English)</mat-label>
          <input formControlName="title" id="title" appUppercase matInput />
          @if (controls['title'].touched && controls['title'].errors?.['required']) {
            <mat-error>The title is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title (Spanish)</mat-label>
          <input formControlName="title_es" id="title_es" appUppercase matInput />
          @if (controls['title_es'].touched && controls['title_es'].errors?.['required']) {
            <mat-error>The Spanish title is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CV URL (English)</mat-label>
          <input formControlName="cv" type="url" id="cv" matInput />
          @if (controls['cv'].touched && controls['cv'].errors?.['required']) {
            <mat-error>The English CV URL is required</mat-error>
          }
          @if (controls['cv'].touched && controls['cv'].errors?.['pattern']) {
            <mat-error>The English CV URL must start with http:// or https://</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CV URL (Spanish)</mat-label>
          <input formControlName="cv_es" type="url" id="cv_es" matInput />
          @if (controls['cv_es'].touched && controls['cv_es'].errors?.['required']) {
            <mat-error>The Spanish CV URL is required</mat-error>
          }
          @if (controls['cv_es'].touched && controls['cv_es'].errors?.['pattern']) {
            <mat-error>The Spanish CV URL must start with http:// or https://</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <label for="image" class="form-label fw-bold">Image:</label>
        <input (change)="onFileSelected($event)" class="form-control" type="file" id="image" />
        @if (controls['image'].touched && controls['image'].errors?.['required']) {
          <small class="text-danger appear">The image required</small>
        }

        @if (controls['image'].touched && controls['image'].errors?.['invalidFileType']) {
          <small class="text-danger appear"
            >Only image files (png, jpg, jpeg, gif) are allowed</small
          >
        }
      </div>
    </div>

    <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
      <app-button [cancel]="true" (action)="cancel()"></app-button>

      <app-button [loading]="isSaving()"></app-button>
    </footer>
  </form>
</section>
