<section class="mb-5 pt-md-5" id="portfolio">
  <header>
    <h2 class="text-center text-primary py-4 pt-md-0 lead display-5">
      {{ title | language : "label" : translate.getLang }}
    </h2>
  </header>

  <p-accordion class="w-100 shadow-lg card bg-white card" [value]="value">
    @for (technology of technologyList; track technology.id) {
    <p-accordion-panel [value]="technology.id!">
      <p-accordion-header>
        <h5 class="text-secondary">{{ technology.name | titlecase }}</h5>
      </p-accordion-header>
      <p-accordion-content>
        <app-project-carousel
          [projectList]="technology.projects"
          [technology]="technology.id!"
        ></app-project-carousel>
      </p-accordion-content>
    </p-accordion-panel>
    }@empty {
    <p class="text-center text-secondary py-3">**There are no records**</p>
    }
  </p-accordion>
</section>
