<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="m-3">
  <header>
    <h4 class="text-primary">
      {{ labels.title | language : "label" : translate.getLang }}
    </h4>
  </header>

  <hr />

  <section class="container-fluid">
    <div class="col my-2">
      <label for="name" class="form-label fw-bold"
        >{{ labels.name | language : "label" : translate.getLang }}
      </label>
      <input
        pInputText
        id="name"
        class="form-control"
        formControlName="name"
        appUppercase
        [minlength]="2"
        [maxLength]="100"
      />
      @if (controls['name'].touched && controls['name'].invalid) {
      <small class="text-danger appear">{{
        labels.name | language : "required" : translate.getLang
      }}</small>
      }
    </div>

    <div class="col my-2">
      <label for="email" class="form-label fw-bold"
        >{{ labels.email | language : "label" : translate.getLang }}
      </label>
      <input
        pInputText
        id="email"
        class="form-control"
        formControlName="email"
        [maxLength]="254"
        appLowerCase
      />
      @if (controls['email'].touched && controls['email'].invalid) {
      <small class="text-danger appear">{{
        labels.email | language : "required" : translate.getLang
      }}</small>
      }
    </div>

    <div class="col my-2">
      <label for="message" class="form-label fw-bold">{{
        labels.message | language : "label" : translate.getLang
      }}</label>
      <textarea
        pInputText
        id="message"
        class="form-control"
        formControlName="message"
        [minlength]="5"
        [maxLength]="500"
        appUppercase
      >
      </textarea>
      @if (controls['message'].touched && controls['message'].invalid) {
      <small class="text-danger appear">{{
        labels.message | language : "required" : translate.getLang
      }}</small>
      }
    </div>
  </section>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button [text]="'Send'" [icon]="'pi pi-send'"></app-button>
  </footer>
</form>
