<form (ngSubmit)="onSubmit()" [formGroup]="technologyForm" class="m-3">
  <header>
    <h4 class="text-primary">{{ title }}</h4>
  </header>

  <hr />

  <div class="row g-3">
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="name" appUppercase matInput />
        @if (controls['name'].touched && controls['name'].invalid) {
          <mat-error>The name is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Position</mat-label>
        <mat-select formControlName="position" id="position">
          <mat-option [value]="0" disabled>Select a position</mat-option>
          @for (position of positionList; track position) {
            <mat-option [value]="position">{{ position }}</mat-option>
          }
        </mat-select>
        @if (controls['position'].touched && controls['position'].invalid) {
          <mat-error>The position is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button
      [disabled]="isSaving()"
      [icon]="isSaving() ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
      [text]="isSaving() ? 'Saving...' : 'Save'"
    ></app-button>
  </footer>
</form>
