@import "primeicons/primeicons.css";

:root {
  --primary: rgb(13, 110, 253) !important;
  --p-inputtext-focus-border-color: var(--primary) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}
