@import "primeicons/primeicons.css";

:root {
  --primary: rgb(13, 110, 253) !important;
  --primary-hover: rgba(13, 109, 253, 0.75) !important;
  --p-paginator-nav-button-selected-background: var(--primary) !important;
  --p-select-option-selected-focus-background: var(--primary) !important;
  --p-paginator-nav-button-selected-color: white !important;
  --p-select-option-selected-focus-color: white !important;
  --p-select-option-selected-background: var(--primary) !important;
  --p-select-option-focus-background: var(--primary-hover) !important;
  --p-inputtext-focus-border-color: var(--primary) !important;
  --p-select-option-selected-color: white !important;
  --p-select-focus-border-color: var(--primary) !important;
  --p-select-option-focus-color: white !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e4e571 !important;
}

section[id] {
  scroll-margin-top: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.img-max {
  max-height: 100px !important;
}

.appear {
  opacity: 0;
  animation: appearKey 1s ease forwards;
}

.pointer {
  cursor: pointer;
}

.img-hover {
  transition: 1s ease;
  cursor: pointer;
}

.img-project {
  width: 100%;
}

@media (min-width: 768px) {
  .img-project {
    width: 50%;
  }
}

.img-hover:hover {
  scale: 1.05;
  transition: 1s ease;
}

@keyframes appearKey {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
