<form [formGroup]="educationForm" (ngSubmit)="onSubmit()" class="m-3">
  <header>
    <h4 class="text-primary">{{ title }}</h4>
  </header>

  <hr />

  <section class="row g-3">
    <div class="col-md-6">
      <label for="title" class="form-label fw-bold">Title: </label>
      <input
        formControlName="title"
        class="form-control"
        id="title"
        appUppercase
        pInputText
      />
      @if (controls['title'].touched && controls['title'].invalid) {
      <small class="text-danger appear">The title is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="institution" class="form-label fw-bold">Institution: </label>
      <p-select
        [options]="institutionList"
        [filter]="true"
        formControlName="institution"
        optionLabel="name"
        optionValue="id"
        appendTo="body"
        class="w-100"
        id="institution"
      />
      @if (controls['institution'].touched && controls['institution'].invalid) {
      <small class="text-danger appear">The institution is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="place" class="form-label fw-bold">Place: </label>
      <input
        formControlName="place"
        class="form-control"
        id="place"
        appUppercase
        pInputText
      />
      @if (controls['place'].touched && controls['place'].invalid) {
      <small class="text-danger appear">The place is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="start" class="form-label fw-bold">Start: </label>
      <input
        formControlName="start"
        class="form-control"
        id="start"
        appUppercase
        pInputText
      />
    </div>

    <div class="col-md-6">
      <label for="end" class="form-label fw-bold">End: </label>
      <input
        formControlName="end"
        class="form-control"
        id="end"
        appUppercase
        pInputText
      />
      @if (controls['end'].touched && controls['end'].invalid) {
      <small class="text-danger appear">The end is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="position" class="form-label fw-bold">Position: </label>
      <p-select
        [options]="positionList"
        [filter]="true"
        formControlName="position"
        appendTo="body"
        class="w-100"
        id="position"
      />
      @if (controls['position'].touched && controls['position'].invalid) {
      <small class="text-danger appear">The position is required</small>
      }
    </div>
  </section>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button></app-button>
  </footer>
</form>
