<form (ngSubmit)="onSubmit()" [formGroup]="institutionForm" class="container-fluid p-3">
  <header>
    <h4 class="text-primary">{{ title }}</h4>
  </header>

  <hr />

  <div class="row g-3">
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name (English):</mat-label>
        <input formControlName="name" id="name" appUppercase matInput />
        @if (controls['name'].touched && controls['name'].invalid) {
          <mat-error>The name is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name (Spanish):</mat-label>
        <input formControlName="name_es" id="name_es" appUppercase matInput />
        @if (controls['name_es'].touched && controls['name_es'].invalid) {
          <mat-error>The Spanish name is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <label for="image" class="form-label fw-bold">Image:</label>
      <input (change)="onFileSelected($event)" class="form-control" type="file" id="image" />
      @if (controls['image'].touched && controls['image'].errors?.['required']) {
        <small class="text-danger appear">The image is required</small>
      }

      @if (controls['image'].touched && controls['image'].errors?.['invalidFileType']) {
        <small class="text-danger appear">Only image files (png, jpg, jpeg, gif) are allowed</small>
      }
    </div>

    @if (update) {
      <div class="col-12 col-md-6">
        <p class="fw-bolder text-center mb-2">Previous Image:</p>

        <div class="text-center">
          <img [src]="urlImage" class="img-max" alt="Previous institution image" />
        </div>
      </div>
    }
  </div>

  <footer class="row g-3 justify-content-center mt-2">
    <div class="col-auto">
      <app-button [cancel]="true" (action)="close()"></app-button>
    </div>

    <div class="col-auto">
      <app-button
        [disabled]="isSaving()"
        [icon]="isSaving() ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
        [text]="isSaving() ? 'Saving...' : 'Save'"
      ></app-button>
    </div>
  </footer>
</form>
