<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="m-3">
  <header>
    <h4 class="text-primary">{{ title }}</h4>
  </header>

  <hr />

  <div class="row g-3">
    <div class="col-md-6">
      <label for="title" class="form-label fw-bold">Title (English):</label>
      <input formControlName="title" class="form-control" id="title" appUppercase />
      @if (controls['title'].touched && controls['title'].invalid) {
        <small class="text-danger appear">The title is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="title_es" class="form-label fw-bold">Title (Spanish):</label>
      <input formControlName="title_es" class="form-control" id="title_es" appUppercase />
      @if (controls['title_es'].touched && controls['title_es'].invalid) {
        <small class="text-danger appear">The Spanish title is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="description" class="form-label fw-bold">Description (English):</label>
      <input formControlName="description" class="form-control" id="description" />
      @if (controls['description'].touched && controls['description'].invalid) {
        <small class="text-danger appear">The description is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="description_es" class="form-label fw-bold">Description (Spanish):</label>
      <input formControlName="description_es" class="form-control" id="description_es" />
      @if (controls['description_es'].touched && controls['description_es'].invalid) {
        <small class="text-danger appear">The Spanish description is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="deploy" class="form-label fw-bold">Deploy:</label>
      <input formControlName="deploy" class="form-control" id="deploy" type="url" />
    </div>

    <div class="col-md-6">
      <label for="github" class="form-label fw-bold">GitHub:</label>
      <input formControlName="github" class="form-control" id="github" type="url" />
    </div>

    <div class="col-md-6">
      <label for="technology" class="form-label fw-bold">Technology: </label>
      <select
        (change)="loadPositionByTechnology(controls['technology'].value ?? 0)"
        formControlName="technology"
        class="form-select"
        id="technology"
      >
        <option [ngValue]="0" disabled>Select a technology</option>
        @for (technology of technologyList(); track technology.id) {
          <option [ngValue]="technology.id">{{ technology.name }}</option>
        }
      </select>
      @if (controls['technology'].touched && controls['technology'].invalid) {
        <small class="text-danger appear">The technology is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="position" class="form-label fw-bold">Position: </label>
      <select formControlName="position" class="form-select" id="position">
        <option [ngValue]="0" disabled>Select a position</option>
        @for (position of positionList; track position) {
          <option [ngValue]="position">{{ position }}</option>
        }
      </select>
      @if (controls['position'].touched && controls['position'].invalid) {
        <small class="text-danger appear">The position is required</small>
      }
    </div>

    <div class="col-md-6">
      <label for="image" class="form-label fw-bold">Image:</label>
      <input (change)="onFileSelected($event)" class="form-control" type="file" id="image" />
      @if (controls['image'].touched && controls['image'].errors?.['required']) {
        <small class="text-danger appear">The image is required</small>
      }

      @if (controls['image'].touched && controls['image'].errors?.['invalidFileType']) {
        <small class="text-danger appear">Only image files (png, jpg, jpeg, gif) are allowed</small>
      }
    </div>

    @if (update) {
      <div class="col-md-6">
        <p class="fw-bolder text-center mb-2">Previous Image:</p>

        <div class="text-center">
          <img [src]="urlImage" class="img-max" alt="Previous project image" />
        </div>
      </div>
    }
  </div>

  <footer class="w-100 d-flex justify-content-center align-items-center mt-3">
    <app-button [cancel]="true" (action)="close()"></app-button>

    <app-button></app-button>
  </footer>
</form>
